/* MAIN */

main {
    display: flex;
    #columna-izq {
        display: flex;
        width: 20%;
        height: 650px;
        background-color: red;
        margin-right: 5px;

    }
    
    #columna-der {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        height: 650px;
        background-color: green;
        margin-left: 5px;
        .box-container {
            background-color: lightgreen;
            margin: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 450px;
            .box {
                    background-color: rgb(138, 196, 247);
                    padding: 100px;
                    margin: 10px;
                    display: flex;
                    justify-content: space-around;
                    
                }
        }
    }
}

/* FIN MAIN */
